<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
{{$gr := .}}
<h1>{{$gr.GroupName}}</h1>
{{range $gr.GroupMember}}
<h1>First Name : {{.FirstName}}</h1>
<h1>Last Name : {{.LastName}}</h1>
{{end}}
</body>
</html>