<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
{{$wisdom := .}}
<h1>Hello {{$wisdom.FirstName}}</h1>
<h1>Last {{$wisdom.LastName}}</h1>
</body>
</html>