<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
{{.Time}}
{{dt .Time}}
<h1>Hello {{.FirstName}}</h1>
{{uc .LastName}}
{{ft .FirstName}}
{{/* pipeline */}}
{{4.0 | db | mn| db}}
</body>
</html>