<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Just testing nested template</h1>
{{template "kittycat" .Age}}
<h2>{{.AgeDbl}}</h2>
</body>
</html>