<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>
<H1>Breakfast</H1>
{{range .Bf}}
    {{.}}
{{end}}
<H1>Lunch</H1>
{{range .Lu}}
    {{.}}
{{end}}
<H1>Dinner</H1>
{{range .Di}}
    {{.}}
{{end}}
</body>
</html>